a {
  color: rgb(18, 154, 218);
  text-decoration: none;
}

a:hover {
  color: #243aab;
}

.App {
  text-align: center;
}

.App-header {
  background: url(/bg.JPG) #282c34 fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: #88857d 2px 2px 9px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-info {
  background: #35373b;
  color: #8f949b;
}

.projects h2 a:visited, a {
  color: #000000;
}

.projects h2 a:hover {
  color: #243aab;
  border-bottom: none;
}

.projects h2 a {
  text-decoration: none;
  border-bottom: 5px #243aab solid;
  font-weight: 700;
  text-transform: uppercase;
}

.projects a {
  --uiaiElementColorHover: #243aab;
  font-weight: 700;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.project-block {
  min-width: 300px;
  flex: 1;
  padding: 10px;
}

.project-block .text-block{
  text-align: left;
}


.image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-block img {
  padding: 40px;
  max-width:100%;
  max-height: 200px;
}