.App {
  text-align: center;
}

.App-header {
  background: url(/bg.JPG) #282c34 fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: #88857d 2px 2px 9px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-info {
  background: #35373b;
  color: #8f949b;
}
